spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/file_upload
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
      show-sql: true
server:
  port: 4141